<div class="col-sm-6 no-padding">
  <a href="{{ link }}" class="big-gender-link">
    <img src="{{ image | img_url: '1024x' }}" width="100%">
    <figcaption>
      <h2 class="text-left title">{{ title }}</h2>
    </figcaption>
  </a>
</div>