<div class="col-sm-6 no-padding big-gender-link">
  <a href="{{ link }}">
    <img src="{{ image | img_url: '1024x' }}" width="100%">
    <figcaption>
      <h2 class="text-left">{{ title }}</h2>
    </figcaption>
  </a>
</div>