{% paginate blog.articles by section.settings.posts_per_page %}
{% if paginate.current_page == 1 %}
  <div class="row top-posts">
    {% for block in section.blocks %}
      {%- assign article = articles[block.settings.blog_post] -%}
      {% include 'blog-article', article: article %}
    {% endfor %}
  </div>
{% endif %}

<div class="text-center text-uppercase mb-3 mt-5 posts-section-title">
  <h3>{{ section.settings.blog_post_title }}</h3>
</div>
<ul class="posts-grid">
  {% for article in blog.articles %}
    <li class="posts-grid__item">
      {% include 'blog-article', article: article %}
    </li>
  {% endfor %}
</ul>

{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}

{% endpaginate %}



{% schema %}
{
  "name": "Blog Page Posts",
  "blocks": [
    {
      "type": "top_posts",
      "name": "Top Posts",
      "settings": [
        {
          "type": "article",
          "id": "blog_post",
          "label": "Article"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Blog Posts Title"
    },
    {
      "type": "text",
      "id": "blog_post_title",
      "default": "Latest Posts",
      "label": "Blog Post Title"
    },
    {
      "type": "header",
      "content": "Blog Posts Setting"
    },
    {
      "type": "text",
      "id": "posts_per_page",
      "default": "4",
      "label": "Posts Number per Page"
    }
  ]
}
{% endschema %}
