
<div class="container-fluid">
  <div class="row header-info position-relative d-flex align-items-center justify-content-center">
    {% assign headerImage = section.settings.header_image %}
    {% if headerImage %}
      {% include 'logo-container', image: headerImage, width: '100%', alt: 'Collection Logo' %}
    {% endif %}
    <div class="position-absolute text-center col-12">
      {% include 'headline-title', content: section.settings.headline_text, customClass: "" %}
      {% include 'description-input', content: section.settings.description_text, customClass: "" %}
    </div>
  </div>
  <div class="row top-posts">
    {% for block in section.blocks %}
      {%- assign article = articles[block.settings.blog_post] -%}
      {% include 'blog-article', article: article %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blog Page Header",
  "settings": [
    {
      "type": "header",
      "content": "Blog Page Header"
    },
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Header Image"
    },
    {
      "type": "text",
      "id": "headline_text",
      "label": "Page Title"
    },
    {
      "type": "richtext",
      "id": "description_text",
      "label": "Page Description"
    }
  ],
  "blocks": [
    {
      "type": "top_posts",
      "name": "Top Posts",
      "settings": [
        {
          "type": "article",
          "id": "blog_post",
          "label": "Article"
        }
      ]
    }
  ]
}
{% endschema %}