{% paginate blog.articles by section.settings.posts_per_page %}

<div class="page-width">
  <div class="text-center">
    <h4>{{ section.settings.blog_post_title }}</h4>
  </div>
  <ul class="grid grid--uniform grid--blog">
    {% for article in blog.articles %}
      <li class="grid__item medium-up--one-third">
        {% include 'blog-article', article: article %}
      </li>
    {% endfor %}
  </ul>
</div>

{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}

{% endpaginate %}



{% schema %}
{
  "name": "Blog Page Posts",
  "settings": [
    {
      "type": "header",
      "content": "Blog Posts Title"
    },
    {
      "type": "text",
      "id": "blog_post_title",
      "default": "Latest Posts",
      "label": "Blog Post Title"
    },
    {
      "type": "header",
      "content": "Blog Posts Setting"
    },
    {
      "type": "text",
      "id": "posts_per_page",
      "default": "4",
      "label": "Posts Number per Page"
    }
  ]
}
{% endschema %}
