<div class="hero-section">
  {% include 'headline-title', content: section.settings.headline_text %}
  <section class="home-main container-fluid">
    <div class="row">
      {% include 'hero-gender-img-link', title: section.settings.left_cta, link: section.settings.left_link, image: section.settings.left_image %}
      {% include 'hero-gender-img-link', title: section.settings.right_cta, link: section.settings.right_link, image: section.settings.right_image %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Homepage Hero",
  "settings": [
    {
      "type": "header",
      "content": "Hero Intro Title"
    },
    {
      "type": "text",
      "id": "headline_text",
      "label": "Headline Text",
      "default": "Your text here"
    },
    {
      "type": "header",
      "content": "Left Side Collections Link"
    },
    {
      "type": "text",
      "id": "left_cta",
      "label": "Call to Action",
      "default": "Your text here"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "url",
      "id": "left_url",
      "label": "Left Link"
    },
    {
      "type": "header",
      "content": "Right Side Collections Link"
    },
    {
      "type": "text",
      "id": "right_cta",
      "label": "Call to Action",
      "default": "Your text here"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    },
    {
      "type": "url",
      "id": "right_link",
      "label": "Right Link"
    }
  ]
}
{% endschema %}