<div class="hero">
  {% include 'headline-title', content: section.settings.headline_text %}
  <section class="home-main hide-while-loading">
    {% include 'hero-gender-img-link', title: section.settings.left_collections_title, img_url: section.settings.left_collections_img, link: section.settings.left_collections_url %}
    {% include 'hero-gender-img-link', title: section.settings.right_collections_title, img_url: section.settings.right_collections_img, link: section.settings.right_collections_url %}
  </section>
</div>

{% schema %}
{
  "name": "Homepage Hero",
  "settings": [
    {
      "type": "header",
      "content": "Hero Intro Title"
    },
    {
      "type": "text",
      "id": "headline_text",
      "label": "Headline Text",
      "default": "Your text here"
    },
    {
      "type": "header",
      "content": "Left Side Collections Link"
    },
    {
      "type": "text",
      "id": "left_collections_title",
      "label": "Title",
      "default": "Your text here"
    },
    {
      "type": "text",
      "id": "left_collections_img",
      "label": "Feature Image"
    },
    {
      "type": "url",
      "id": "left_collections_url",
      "label": "Collections Link"
    },
    {
      "type": "header",
      "content": "Right Side Collections Link"
    },
    {
      "type": "text",
      "id": "right_collections_title",
      "label": "Title",
      "default": "Your text here"
    },
    {
      "type": "text",
      "id": "right_collections_img",
      "label": "Feature Image"
    },
    {
      "type": "url",
      "id": "right_collections_url",
      "label": "Collections Link"
    }
  ]
}
{% endschema %}