<section>
  <div class="col-sm-12 mantra">
    {% include 'logo-container', image: section.settings.white_logo_url, height: '20px', alt: 'Logo White' %}
    <div class="beginning-text">
      {{ section.settings.beginning_text }}
    </div>
    <div class="main-text">
      {{ section.settings.main_text }}
    </div>
    <div class="end-text">
      {{ section.settings.end_text }}
    </div>
  </div>
  <div class="clearfix"></div>
</section>

<style>
  .beginning-text {
    margin-top: 15px;
    color: #fff;
  }
  .main-text {
    margin: 70px 0;
  }

  .main-text p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: .5px;
    margin: 15px 0;
  }

  .end-text {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .5px;
    font-weight: 500;
    color: white;
  }

  .end-text p {
    margin-bottom: 8px;
  }

</style>

{% schema %}
{
  "name": "Mantra",
  "settings": [
    {
      "type": "image_picker",
      "id": "white_logo_url",
      "label": "Logo URL"
    },
    {
      "type": "richtext",
      "id": "beginning_text",
      "label": "Beginning Text",
      "default": "<p>pronounced dis-til'd</p>"
    },
    {
      "type": "richtext",
      "id": "main_text",
      "label": "Main Content",
      "default": "<p><strong>We believe less is more<br></strong></p><p><strong>We think retail must evolve</strong></p><p><strong>We dream in black+white</strong></p><p><strong>We live in Denim</strong></p>"
    },
    {
      "type": "richtext",
      "id": "end_text",
      "label": "End Text",
      "default": " <p><strong>Dis'till</strong></p><p>Extract the essential meaning or most important aspect of</p>"
    }
  ]
}
{% endschema %}