<div class="container-fluid">
  <div class="row">
    {% include 'headline-title', content: section.settings.headline_text, customClass: "pl-3" %}
    <div class="col-12 col-md-12">
      <div class="row">
        {% for block in section.blocks %}
          {%- assign product = all_products[block.settings.product] -%}
          {% include 'collection-product', product: product %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "text",
      "id": "headline_text",
      "label": "Collection Title"
    },
    {
      "type": "richtext",
      "id": "description_text",
      "label": "Collection Description"
    }
  ],
  "blocks": [
    {
      "type": "product_grid_item",
      "name": "New Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "max_blocks": 20
}
{% endschema %}
