
$screen-sm-min: 768px;
$screen-lg-min: 1200px;

/* Colors
------------------------------------------------ */
$white: #fff;
$black: #0A0A0A;
$red: #ce2028;
$gray: #dddee1;
$gray-dark: darken($gray, 50);

/* UI
------------------------------------------------ */
$header-height: 70px;
$header-height-mobile: 50px;

/* Tag Style */
body {
  width: auto;
  color: #0A0A0A;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  font-weight: 300;
  letter-spacing: .5px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 36px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: #0A0A0A;
}
h4 {
  font-size: 13px;
  line-height: 1.2;
  color: #0A0A0A;
  font-weight: 700;
}
.shopify-section {
  width: 100%;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #0A0A0A;
}
section {
  -moz-transition: .2s;
  -o-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
}
a {
  text-decoration: none;
  color: #0A0A0A;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    text-decoration: none;
  }
}

/*  Class Style */
.no-padding {
  padding: 0;
}
.collection-name {
  margin-top: 0;
  margin-bottom: 0;
  h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .5px;
  }
}
.logo-container {
  margin: auto;
}
.collection-description-text {
  margin-top: 0;
  margin-bottom: 0;
}
.mobile-only {
  display: block !important;
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}
.hidden {
  display: none !important;
}
.desktop-only {
  display: none !important;
  @media (min-width: $screen-sm-min) {
    display: block !important;
  }
}

//////////////////////////////////////////
//        Element Specific Style        //
//////////////////////////////////////////

.navbar {
  border: none;
  height: $header-height-mobile;
  padding: 0;
  background: $white;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  #mobile-cart-trigger, #mobile-hamburger-btn  {
    color: $black;
    i.fa {
      font-size: 18px;
      padding: 16px 5px;
      color: $black;
    }
  }

  .mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    background: #fff;
    padding: 20px;
    overflow-y: scroll;
    display: none !important;
  
    &.show {
      display: block !important;
    }
  
    .modal__close {
      padding: 25px 15px;
      outline: none;
      position: absolute;
      z-index: 1001;
    }
  
    .mobile-menu-column {
      position: absolute !important;
      top: 0;
      padding-top: 70px;
      z-index: 100;

      .mobile-menu-list-item {
        a {
          font-size: 15px;
          padding: 8px 5px;
          display: inline-block;
          font-weight: 300;
          text-decoration: none;
          padding-left: 13px;
        }

        &.mobile-menu-list-item__title {
          a {
            font-size: 17px;
            font-weight: 600;
            margin: 0;
            letter-spacing: 0;
          }
        }
      }
    }
  
    .etabs {
      padding: 0;
      margin: 0 0 0 10px;
      position: relative;
      z-index: 1000;
      .tab {
        display: inline-block;
        background: transparent;
        border: none;
        padding: 0px 30px 5px;
        
        a {
          line-height: 2em;
          display: block;
          padding: 0 10px;
          outline: none;
          font-size: 16px;
          font-weight: bold;
        }
        &.active {
          border-bottom: 1px solid #47525d;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    height: $header-height;
    padding-top: 10px;
  
    .navbar-header {
      float: left;

      .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        margin-left: -80px;
      }
    }
    .navbar-collapse {
      background: $white;
      height: $header-height - 20px;
      display: block;
      background: transparent;
      border: none;
      
      .navbar-nav {
        padding-left: 40px;
        float: left;
        display: block;

        .dropdown {
          .nav-bold{
            font-weight: bold;
          }
          &:hover .dropdown-menu {
            display: block;
          }
          .dropdown-menu {
            border: none;
            border-radius: 0px;
            color: $black;
            padding-bottom: 10px;
            background-color: $white;
            transition: 0.2s;
            box-shadow: rgba(black, .2) 1px 1px 2px;
            z-index: 2000;
            position: absolute;
            width: 600px;
            padding: 10px 0 20px;
      
            &.about {
              width: auto;
      
              .menu-column {
                width: 100%;
              }
            }
      
            .menu-column {
              display: inline-flex;
              width: 32%;
              flex-direction: column;
      
              h4 {
                letter-spacing: 0;
                font-weight: 600;
                padding: 0px;
                margin: 0px;
      
                a {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
          
              li > a {
                color: $black !important;
                padding: 4px 20px 4px 15px;
                display: block;
                font-weight: 300;
      
                &:hover {
                  text-decoration: underline !important;
                }
              }
            }
          }
        }
        li {
          float: left;
          position: relative;
          display: block;

          & > a {
            padding-left: 0px;
            padding-right: 30px;
            display: block;
            position: relative;
          }
          a {
            font-size: 12px;
            color: $black;
            padding-top: 15px;
            padding-bottom: 15px;
    
            &:hover {
              color: $gray-dark;
            }
            &:focus{
              color: $black;
            }
          }
        }

        &.navbar-right {
          margin-right:0px;
          float: right;
          display: block;

          .fa-shopping-cart {
            vertical-align: -5%;
          }
          li {
            a {
              text-align: right;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

// Main Container Padding
.main-content {
  padding-top: $header-height-mobile !important;

  @media (min-width: $screen-sm-min) {
    padding-top: $header-height + 10 !important;
  }
}

//  Section Title Style
.home-intro {
  padding: 15px;

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    margin: 0;
	}

  h2 {
		margin: 0px;
		font-size: 18px;
  }

	h4 {
		margin-top: 0px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 0 39px 16px;

		p {
			margin-bottom: 10px;
		}
		h1 {
			font-weight: bold;
		}
		h2{
			font-size: 24px;
		}
	}
}

// Homepage - Hero Section 
.hero-section {
  margin-bottom: 20px;
  height: auto;
}

.home-main {
	position: relative;
	margin-bottom: 0px;
	margin-top: 0px;
	.big-gender-link {
		position: relative;
	    overflow: hidden;
	    text-align: center;
	    display: block;

		&:hover {
			figcaption {
        opacity: 1;
			}
			img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
			}
		}

		figcaption {
      position: absolute;
			top: 0;
      left: 0;
	 		bottom: 5px;
      width: 100%;
      color: #fff;
	 		padding: 20px 15px;
      -webkit-transition: .2s;
      transition: .2s;

      .title {
        color: #000;
        margin-top: 0px;
        text-align: left;
        text-transform: uppercase;
        font-size: 24px;
        width: 100%;
        @media (min-width: $screen-sm-min) {
          font-size: 36px;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 48px;
        }
      }

      @media (min-width: $screen-sm-min) {
        padding: 32px 40px;
        opacity: 0;
        bottom: 0;
      }
		}
  }

	img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	}
}

// Homepage Product Grid

.product {
  position: relative;
  float: none;
  vertical-align: top;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 0 0 20px 0;
  padding: 5px;
  
  @media (min-width: $screen-sm-min) {
    margin-bottom: 40px;
    padding: 10px;
  }

  .content {
    display: block;
    padding: 10px 0 10px 0;

    .product-name {
      text-transform: capitalize;
      line-height: 1.2;
      font-weight: bold;
      font-size: 12px;
    }
    .color{
      text-transform: capitalize;
      line-height: 1.2;
      font-size: 0.97em;
    }

    .price {
      clear: both;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .img {
    position: relative;
    overflow: hidden;
    display: block;
  
    .product-link {
      display: block;

      .square-product-img {
        margin-bottom: -5px;

        img {
          -webkit-backface-visibility: hidden;
          position: absolute;
          top: 0;
          z-index: 2;
          width:120%;
          left: -10%;
          bottom: 0;
          max-width: initial;

          &:first-of-type {
            z-index: 3;
          }

          &.bg-img {
            z-index: 1;
            position: relative;
            overflow: hidden;
          }

          &.desktop:first-of-type:hover {
            -webkit-animation: all 1s ease;
            -moz-animation:    all 1s ease;
            -o-animation:      all 1s ease;
            animation:         all 1s ease;
            opacity: 0;
          }
        }
      }
    }
  }
}

// Mantra Style

.mantra {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    background-color: $black;
    padding: 40px 40px;
    margin-top: -5px;

    p {
      color: #fff;
    }
    .beginning-text {
      margin-top: 15px;
    }
    .main-text {
      margin: 70px 0;
      p {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: .5px;
        margin: 15px 0;
      }
    }
    .end-text {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: .5px;
      font-weight: 500;

      p {
        margin-bottom: 8px;
      }
    }
    .logo-container {
      width: 130px;
      margin-left: 0;
    }
  }
}

// Footer
footer {
	background: $white;
	margin-left: 15px;
	margin-right: 15px;
  padding: 0;
  z-index: 1;
  text-align: center !important;

  @media (min-width: $screen-sm-min) {
    padding: 30px;
  }

	.footer-nav{
    line-height: 1.5;
    .footer-menu {
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
    }
    a {
      display: inline-block;
      margin: 4px 0;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
	      margin: 0 3px;
      }
    }
    .footer-link-header{
      margin-top: 15px;
      @media (min-width: $screen-sm-min) {
        margin-top: 0px;
      }
    }

    .btn-to-top {
      margin: 50px auto;
      width: 50px;
      a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 25px;
          font-weight: bold;
          line-height: 0.5;
          color: $white;
          vertical-align: middle;
        }
      }
    }
	}

  .footer-email-signup {
    .email-col {
      padding-left: 0;

      input {
        background: 0 0;
        border: none!important;
        box-shadow: none;
        border-bottom: 1px solid #AAA!important;
        padding: 5px;
        margin-bottom: 15px;
        color: #0A0A0A;
        font-size: 13px;
        font-family: inherit;
        outline: 0!important;
        border-radius: 0!important;
        height: 44px;
        display: block;
        width: 100%;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
    }
    p.big {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: normal;
      text-transform: none;
    }
    .privacy-notice {
      text-align: left;
      .underline {
        text-decoration: underline;
      }
    }
    #gender-choice-footer {
      margin-bottom: 20px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }

      .gender-col {
        padding: 0;
        position: relative;
        bottom: -2px;
        left: 0;
        text-align: left;
        margin-bottom: 5px; 
  
        .gender-radio {
          margin-left: 0;
        }
        @media (min-width: $screen-sm-min) {
          left: 2px;
        }
      }
    }
    .signup-col {
      padding: 0;
      position: relative;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
      margin-bottom: 30px;

      #signup-footer-submit-btn {
        border: none;
        text-align: center;
        padding: 16px 15px;
        cursor: pointer;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: normal;
        text-transform: uppercase;
        -moz-transition: .2s;
        -o-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        white-space: normal;
        margin-bottom: 0;
        line-height: 1.42857143;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;

        &[disabled] {
          background-color: #ccc !important;
          border: none;
          border-radius: 0;
          font-size: 12px;
          padding: 15px;
          color: white;
        }
      }
    }
  }
}

// Collection Page
.collection-page {
  .logo-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;
  }
  .collection-name {
    margin-top: 30px;
    padding: 0 10px;
  }
  .collection-description-text {
    margin-top: 30px;
    padding: 0 10px;
  } 
  .product-list {
    margin-top: 30px;
  }

  .sub-collections {
    font-size: 0.9em;

    .collection-name {
      margin-top: 10px;
      h1 {
        font-size: 18px;
      }
    }
    .collection-description-text {
      margin-top: 10px;
    } 
    .product-list {
      margin-top: 10px;
    }
  }
}

// Blogs Page 
.blogs-page-header {
  .header-info {
    max-height: 320px;
    overflow: hidden;
  
    h1 {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-top: 0;
      color: #fff;

      @media (min-width: $screen-sm-min) {
        font-size: 36px;
      }
    }
    .collection-description-text p {
      color: #fff;
      font-weight: 500;

      @media (min-width: $screen-sm-min) {
        font-weight: 300;
      }
    }

    img {
      min-height: 160px;
    }
  }
}

.blogs-page-main {
  .top-posts {
    margin: 20px 0;

    @media (min-width: $screen-sm-min) {
      margin: 50px 0 10px;
    }
    .blog-feature {
      padding: 10px 0;

      .blog-feature__content {
        flex: 1;
        padding: 0 10px;
        width: 100%;
    
        .content {
          padding: 10px;
          .blog-feature__title {
            font-size: 24px;
            line-height: 1.2;
            -webkit-font-smoothing: antialiased;
            color: #0A0A0A;
            margin: 1em 0;
          }
          .blog-feature__date {
            font-style: italic;
          }
          .blog-feature__lead {
            font-size: 14px;
            margin: 1em 0;
            line-height: 1.5;
            p {
              line-height: 1.2;
              margin-bottom: 5px;
            }
          }
          .read-more {
            text-decoration: none;
            font-weight: 700;
            img {
              width: 12px;
              margin-left: 3px;
            }
          }
        }

        @media (min-width: $screen-sm-min) {
          flex: 5;
          padding: 0;

          .content {
            padding: 7vw 4vw;

            .blog-feature__title {
              font-size: 35px;
            }
          }
        }
      }
  
      .blog-feature__image {
        flex: 7;
        padding: 0 10px;
      }
    }

    & > div {
      .blog-feature {
        flex-direction: column;
      }
    }

    @media (min-width: $screen-sm-min) {
      & > div {
        .blog-feature {
          flex-direction: row;
        }
      }
      & > div:nth-of-type(2n + 1) {
        .blog-feature {
          flex-direction: row-reverse;
        }
      }
    }

  }

  .posts-section-title h3 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .posts-grid {
    list-style-type: none;
    list-style: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 20px;

    @media (min-width: $screen-sm-min) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    
    .posts-grid__item {
      padding: 30px 0;
      grid-row-end: span 1;

      .blog-feature__title {
        font-size: 18px;
        @media (min-width: $screen-sm-min) {
          font-size: 24px;
        }
      }
      .blog-feature__lead {
        margin: 1em 0;
        line-height: 1.5;
        p {
          line-height: 1.2;
          margin-bottom: 5px;
        }
      }
      .read-more {
        text-decoration: none;
        font-weight: 700;
        img {
          width: 12px;
          margin-left: 3px;
        }
      }
      @media (min-width: $screen-sm-min) {
        padding: 10px;
        .blog-feature__title {
          font-size: 24px;
        }
      }
    }
  }

  .pagination {
    align-items: center;
    justify-content: center;
    padding: 20px 0 40px 0;
    .pagination__text {
      font-weight: 500;
    }

    .btn--tertiary {
      border: 1px solid lightgray !important;
      margin: 0 1px;

      &.active {
        font-weight: bold;
        border-color: #47c1bf !important;
        color: #47c1bf;
      }
    }
    @media (min-width: $screen-sm-min) {
      justify-content: flex-start;
      padding: 20px 20px 40px;
    }
  }
}

// PDP layout 
#pdp-mobile-flexslider {
  & .feature-row__image {
    display: none;
  }
  & .feature-row:first-of-type .feature-row__image {
    display: block;
  }
  &.slick-initialized .feature-row__image {
    display: block;
  }

  .slick-dots {
    bottom: 10px;

    li.slick-active button:before {
      opacity: 1;
      color: white;
      font-size: 10px;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.product-details-section {

  margin: 10px 0 50px;

  .product-single__title {
    font-size: 18px;
    font-weight: 500;
    margin: 1.5em 0 0.5em;
  }
  
  .product__price {
    font-weight: 700;
    font-size: 16px;
    color: #000;
  }
  .product__compare_at_price {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 15px;
    color: #666;
  }

  .product-options--option {
    margin-bottom: 10px;
    label {
      display: block;
      font-weight: 700;
      padding-bottom: 5px;
      margin-bottom: 0;
      font-size: 12px;
    }

    .single-option-selector {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
        min-width: 35px;
        height: 35px;
        line-height: 33px;
        text-align: center;
        margin-right: 5px;
        text-transform: uppercase;
        padding: 0;

        &.active {
          border: 1px solid #000;
          background: #0A0A0A;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }

  .pdp-swatches {
    padding: 5px 0;
    height: auto;

    .pdp-swatches__option {
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding: 2px;
      margin-right: 2px;

      a {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
      }
      img {
        width: 100%;
      }
    }
  }

  .pdp-cta {
    margin: 20px 0 10px;  
    .add-to-cart {
      .btn-add-to-cart {
        background-color: #0A0A0A;
        color: #fff;
        border: 2px solid #0A0A0A;
        font-size: 13px;
        margin-bottom: 15px;
        width: 100%;
        padding: 15px;
        border-radius: 0;
        font-weight: 600;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        white-space: normal;
  
        &.disabled {
          opacity: 0.65;
        }
      }
    }
  }
  .pdp-fit-links {
    margin-bottom: 15px;
    a {
      margin-right: 10px;
      text-decoration: underline;
    }
  }

  #pdp-tabs {
    margin-top: 30px;

    .etabs {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1000;
      .tab {
        display: inline-block;
        background: transparent;
        border: none;
        padding: 0px 6px;
        
        a {
          line-height: 2em;
          display: block;
          padding: 2px 10px;
          outline: none;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
        }
        &.active {
          border-bottom: 1px solid #47525d;
        }
      }
    }

    .tab-panel {
      display: none;
      padding: 5px 0;

      &.active {
        display: block;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .pdp-fitguide-modelbox {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;

    .size_finder {
      text-decoration: underline;
      width: 100%;
      display: block;
      margin-left: 0;
      padding-left: 0;
      padding-top: 8px;
    }
  }
  .pdp-modal {
    display: none;
    position: fixed;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1050;
    width: 100%;
    background: #fff;

    &.open {
      display: block;
    }
    .modal__close {
      padding: 20px;
      outline: none;
      position: absolute;
      z-index: 1001;
    }
    .fit-guide {
      .pdp-content__name {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0;
        text-transform: uppercase;
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: .5px;
        color: #0A0A0A;
        font-weight: 700;
        margin: 20px 0 10px;
      }
      .nav-tabs {
        margin-top: 0;
        border-bottom: none;
        margin-bottom: 10px;
        background: #efefef;

        li {
          display: table-cell;
          width: 50%;
          float: none;
          position: relative;
          text-align: center;

          a {
            font-weight: 700;
            letter-spacing: .5px;
            font-size: 11px;

            &.active {
              text-decoration: underline;
            }
          }
        }
      }
      .tab-content {
        margin-bottom: 30px;

        & > div {
          display: none;

          &.active {
            display: block;
          }
        }
        img.size-chart {
          margin-top: 15px;
          width: 100%;
        }
        .international-size-chart-wrapper {
          width: 100%;
          overflow-x: hidden;
          overflow-y: hidden;
          margin-bottom: 30px;

          &.womens-chart {
            overflow-x: scroll;
          }
        }

        .international-size-chart {
          width: 500px;
          overflow: hidden;
          margin: 0;

          th, td {
            position: relative;
            padding: 5px 0;
            width: auto;
            border: 0;
            font-size: 10px;
          }
          th:first-of-type {
            font-weight: 700;
            padding-right: 5px;
            text-transform: capitalize;
          }
          tr td:first-of-type {
            font-weight: 700;
            padding-right: 5px;
            text-transform: capitalize;
            font-weight: 700;
            padding-right: 5px;
            text-transform: capitalize;
            width: 120px;
          }
        }
        .womens-size-conversion {
          margin-top: 20px;

          .international-size-chart {
            width: 100%;

            tr {
              border-top: solid 1px black;
            }

            tr td:first-of-type, th:first-of-type {
              font-size: 10px;
              letter-spacing: -1px;
              text-transform: uppercase;
              width: 100px;
              text-align: left;
            }
            th, td {
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
      .try-multiple-sizes-description {
        padding-bottom: 10px;
        padding-top: 0;
      }
    }
  }

  .pdp-sizeguide-modal {
    .pdp-content__name {
      font-size: 24px !important;
      font-weight: 700 !important;
    }
    h3 {
      font-weight: 300;
      font-size: 18px;
    }
    .optionSelector {
      font-weight: 500;
      margin: 0.5em 0;
    }
    .product-options--option {
      margin-bottom: 15px;
  
      .single-option-selector li {
        height: auto;
        line-height: 1.5;
        padding: 0px 5px;
        margin: 0 3px 3px 3px;
      }
    }
    input, textarea {
      color: #0A0A0A;
      font-size: 13px;
      font-family: inherit;
      background-color: #FEFEFE;
      border: 1px solid #0A0A0A!important;
      box-shadow: none!important;
      outline: 0!important;
      padding-left: 10px;
      padding-bottom: 4px;
      -webkit-appearance: none;
      font-size: 16px;
      border-radius: 0;
      margin-bottom: 10px;
    }
    .alert-btn {
      background-color: #0A0A0A;
      color: #fff;
      border: 2px solid #0A0A0A;
      padding: 10px 25px;
      display: inline-block;
      cursor: pointer;

      &.disabled {
        opacity: 0.25;
        cursor: not-allowed;
        user-select: none;
      }
    }
  }
}


.pdp-mobile-zoomCtrl {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 1;
  cursor: pointer;
}

.mobile-zoom-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000!important;
  background-color: #000;
  overflow: hidden;
  padding: 0;
	cursor: move;

  img {
    backface-visibility: hidden;
    cursor: move;
    transition: none 0s ease 0s;
    min-height: 100vh;
    height: 800px;
    width: auto;
    min-width: 100vw;
    max-width: unset;
    left: 0;
    pointer-events: none;
    position: relative;
    top: 0;
    -moz-user-select: none;
  }
}

// Size Guide Modal

.recent-products {
  margin: 0 -15px;
  width: 100vw;
  max-width: unset;
  
  .section-header {
    margin-bottom: 10px;
    margin-top: 20px;
  }


  .feature-row {
    padding: 0 10px;

    img {
      box-shadow: rgba(0, 0, 0, 0.2) 1px 0 10px 1px;
    }
  }
}
