.etabs {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 1000;
}

.tab {
  display: inline-block;
  background: transparent;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 3px;
}

.tab a {
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.tab a:hover {
  text-decoration: none;
}

.tab.active {
  border-bottom: 1px solid #47525d;
}