<div class="page-width">
  <div class="container-fluid collection-page">
    <div class="row">
      {% section 'page-header' %}
    </div>
    <div class="row sub-collections">
      {% include 'atb' zone:"Bottom" %}
    </div>
  </div>
</div>
